{% extends "formula1app/base.html" %}


{% load static %}

{% block content %}

<div class="row" style="margin-bottom: 40px; margin-top: 40px; margin-left: 60px;"> 

{% for sizas in siza %}


<button type="button" class="btn btn-info">{{sizas.titulos}} Titulos</button>
<button type="button" class="btn btn-warning">{{sizas.victoias}} Victorias</button>
<button type="button" class="btn btn-warning">{{sizas.poles}} Poles</button>
<button type="button" class="btn btn-warning">{{sizas.abandonos}} Abandonos</button>
<button type="button" class="btn btn-warning">{{sizas.vueltasr}} Vueltas Rapidas</button>
 
{% endfor %}

</div>




<div class="row" style="margin-bottom: 40px; margin-top: 40px;"> 

{% for stat in stats %}

  

    <div class="col-md-3">
    
    <div class="card" style="width: 100%; margin: 10px 10px; margin-top: 50px; ">
    
          <img src="{{stat.foto.url}}" class="card-img-top">
          
          <div class="card-body" style="text-align: center;">
          
                <a href="{% url 'palmar' stat.nombre %}" ><h7 class"card-title">{{stat.nombre}}</h7></a>
                <p class"card-text">{{stat.apellido}}&nbsp;</p>
 
          </div>
          
        
          
      </div>
  </div>


    
{% endfor %}
  </div>
</div>
 

 <div class="row" style="margin-bottom: 100px; margin-top: 40px;"> 
 

{% for race in line %}

    <div class="col-md-3">
    
    <div class="card" style="width: 100%; margin: 10px 10px; margin-top: 50px; ">
    
          
          <div class="card-body" style="text-align: center; background-color: rgba(40, 40, 43); color: aqua; ">



                <img src="{{race.foto.url}}"  style=" width:200px; height:200px;" class="card-img-top">

                <h7 class"card-title">Año:{{race.ano}}</h7>
                <p class"card-text" > GP de {{race.nombre}}&nbsp;</p>
                {% if race.posicicion == 1 %}

                 <p class"card-text" style=" background-color:gold; color: black;">{{race.posicicion}} Lugar&nbsp;</p>

                

                {% elif race.posicicion == 2 %}

                 <p class"card-text" style=" background-color:silver; color: black;">{{race.posicicion}} Lugar&nbsp;</p>
               


                {% elif race.posicicion == 3 %}

                 <p class"card-text" style=" background-color:blue; color: black;">{{race.posicicion}} Lugar&nbsp;</p>
                {% else %}

                <p class"card-text" style=" background-color:blue; color: pink;">{{race.posicicion}} Lugar&nbsp;</p>

                {% endif %}
          </div>
          
        
          
      </div>
  </div>


    
  


    
{% endfor %}
  </div>
</div>



<div style="color: white; font-family: Bebas Neue; margin-left:500px; "> 
 
 
  Pagina : {{line.number}} De {{line.paginator.num_pages}}</br>
 
</div>

<div style="color: white; font-family: Bebas Neue; justify:center;  margin-left:500px; "> 

{% if line.has_previous %}

<a href="?page=1"  style="text-decoration: none;">&laquo Primera</a>
<a href="?page={{line.previous_page_number}}"  style="text-decoration: none;">Pagina Previa </a>

{% endif %}

{% if line.has_next %}

 <a href="?page={{line.next_page_number}}" style="text-decoration: none;"> Proxima Pagina  </a>

 <a href="?page={{line.paginator.num_pages}}"  style="text-decoration: none;"> Ultima </a>

 
</div>


{% endif %}



{% endblock %}
 